/* fonts */
@font-face {
  font-family: navbar;
  src: url(./fonts/Garlic-Sans-Regular.ttf);
}
@font-face {
  font-family: logo;
  src: url(./fonts/Rosseville.ttf);
}
/* page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  margin: 0;
}
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.top-nav {
  height: 25px;
  width: 100%;
  color: #ffffff;
  background-color: #000000;
}
nav {
  height: 150px;
  width: 100%;
  color: #ffffff;
  font-family: navbar;
  border: none;
  background-color: #000f14;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.logo {
  color: #ffffff;
  font-size: 35px;
  text-decoration: none;
  line-height: 80px;
  padding-left: 100px;
  background-color: none;
  margin-left: 50px;
  padding-left: 50px;
  padding-top: 25px;
  margin-top: 25px;
  padding: 5px;

  padding-bottom: 0px;
  font-family: logo;
}
nav ul.first-ul {
  float: right;
  margin-right: 200px;
}
nav ul li.first {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
  border: none;
}
nav ul li a.first {
  color: #ffffff;
  font-size: 17px;
  font-family: navbar;
  text-transform: uppercase;
  border: none;
}
nav button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
  font-family: navbar;
  letter-spacing: 2px;
  margin: 0 10px;
  background: none;
  border: none;
  outline: none;
  margin-right: 75px;
}
.design {
  background-color: none;
}
.cart {
  margin-right: -50px;
  margin-left: 20px;
}
i {
  padding-left: 4px;
  padding-top: 2px;
  cursor: pointer;
}
.checkbtn {
  font-size: 30px;
  float: right;
  color: #ffffff;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #007aa3;
    top: 80px;
    left: 0;
    text-align: center;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #bd4089;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  background-color: #000f14;
  background-image: url("./pics/Dark-Blue-Bokeh-Wallpaper.jpg");
}
.box {
  position: relative;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  animation: animate 60s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}
.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* finished the roulette */
/* start of dem cards */
.card-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: sans-serif;
}
.box1 {
  width: 1450px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
/* search bar that is hard to do and takes a looooooooot of time and effort just to complete but never forget the silly errors that happen for no reason */
.wrapper .search-box {
  list-style: none;
  width: 100%;
  background-color: #000f14;
  height: 60px;
  display: flex;
  padding: 8px;
  border: 0;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
}
.wrapper .search-box .dropdown {
  width: 100px;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  text-align: center;
  margin-left: 40%;
  border: 1px solid #ffffff;
  position: relative;
  border-top-left-radius: 15px;
  text-align: center;
  vertical-align: middle;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}
.wrapper .search-box .dropdown .default-option {
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  top: 15px;
}
.wrapper .search-box .dropdown ul {
  position: absolute;
  top: 52px;
  width: 150px;
  left: -22px;
  background-color: #00b8f5;
  color: #000f14;
  border-radius: 15px;
  font-size: 16px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #000f14;
  text-align: center;
  vertical-align: middle;
  display: none;
}
.wrapper .search-box .dropdown ul li {
  margin-bottom: 10px;
  padding: 5px;
  transition: ease 0.5s;
  border-radius: 10px;
}
.wrapper .search-box .dropdown ul li:last-child {
  padding-bottom: 5px;
  margin-bottom: -5px;
}
.wrapper .search-box .dropdown ul li:hover {
  background-color: #001f29;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}
.wrapper .search-box .dropdown:before {
  content: "";
  position: absolute;
  top: 17px;
  right: 5px;
  border: 8px solid;
  border-color: #00b8f5 transparent transparent transparent;
}
.wrapper .search-box .search-field {
  width: 350px;
  height: 44px;
  position: relative;
  outline: none;
  color: #ffffff;
  background-color: none;
}
.wrapper .search-box .search-field .input {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  padding-left: 20px;
  padding-right: 100px;
  color: #ffffff;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background: transparent;
  outline: none;
}
.wrapper .search-box .search-field .fas {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 15px;
  font-size: 18px;
}

/* slideshow */

@import url("https://fonts.googleapis.com/css?family=Roboto");
main {
  background-color: #0d1b2b;
  overflow-x: hidden;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.slider-wrapper div {
  position: relative;
}
.slider-wrapper {
  margin-top: 5vw;
  margin-left: 11vw;
}
.slide-image {
  height: 24vw;
}
.slide-image img {
  width: 24vw;
  cursor: pointer;
}
.slide-content {
  width: 25vw;
  color: #fff;
  padding: 3vw 18vw 3vw 9vw;
}
.slide-date {
  color: #0a8acb;
  font-size: 1.1vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  padding-bottom: 1.4vw;
}
.slide-title {
  font-size: 1.2vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  line-height: 1.55vw;
  padding-bottom: 1.8vw;
}
.slide-text {
  font-size: 0.8vw;
  line-height: 1.2vw;
  opacity: 0.8;
  padding-bottom: 4vw;
}
.slide-more {
  font-weight: 400;
  letter-spacing: 0.1vw;
  float: left;
  font-size: 0.9vw;
}
.slide-bullet {
  width: 0.5vw;
  height: 0.5vw;
  background-color: #0b8bcc;
  border-radius: 200%;
  position: relative;
  margin-left: 1.2vw;
}
.slide-nav {
  margin-left: 64vw;
  margin-top: -5.5vw;
}

div.overlay-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.5s ease all;
}
div.overlay-blue:hover {
  background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
  width: 3.5vw;
  margin-top: -5.8vw;
  margin-left: 72vw;
  position: relative;
}
.arrow {
  display: inline-block;
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
  background: transparent;
  text-indent: -9999px;
  border-top: 0.15vw solid #fff;
  border-left: 0.15vw solid #fff;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  color: transparent;
}
.arrow:hover {
  border-color: #0a8acb;
  border-width: 0.25vw;
}
.arrow:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}
.arrow.prev {
  transform: rotate(-45deg);
  left: 0;
}
.arrow.next {
  transform: rotate(135deg);
  right: 0;
}

/* cards css */

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.card-body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1.5rem;
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 400px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e),
    -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e),
    -webkit-transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(./pics/hoodies/cstm1.jpg);
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
.card:nth-child(2):before {
  background-image: url(./pics/hoodies/cstm2.jpg);
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
.card:nth-child(3):before {
  background-image: url(./pics/hoodies/cstm3.jpg);
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
.card:nth-child(4):before {
  background-image: url(./pics/hoodies/cstm4.jpg);
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
.card:nth-child(5):before {
  background-image: url(./pics/hoodies/cstm5.jpg);
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
.card:nth-child(6):before {
  background-image: url(./pics/hoodies/cstm6.jpg);
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
.card:nth-child(7):before {
  background-image: url(./pics/hoodies/cstm7.webp);
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
.card:nth-child(8):before {
  background-image: url(./pics/hoodies/cstm8.jpg);
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

footer {
  color: #ffffff;
  background-color: #000f14;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 250px;
  padding-bottom: 50px;
}
.heart {
  color: #bd4089;
}
